.o-icon-minicons-hand-vector, .o-icon-minicons-square-vector{
  padding: .3em;
  height: 1.4em;
  width: 1.4em;
}
.o-tooltip-stats, .o-tooltip-select {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  white-space: nowrap;
  opacity: 0.8;
  font: 80% normal, sans-serif;
  pointer-events: none;
}

.o-select-button-true .o-icon-steady-select,
.o-select-button-true .o-icon-minicons-hand-vector,
.o-select-button-true .o-icon-minicons-square-vector,
.o-stats-button-true .o-icon-steady-stats,
.o-stats-button-true .o-icon-minicons-hand-vector,
.o-stats-button-true .o-icon-minicons-square-vector {
  fill: $o-btn-active-color;
}
