.o-icon-minicons-hand-vector, .o-icon-minicons-square-vector{
  padding: .3em;
  height: 1.4em;
  width: 1.4em;
}
.o-tooltip-stats, .o-tooltip-select {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  white-space: nowrap;
  opacity: 0.8;
  font: 80% normal, sans-serif;
  pointer-events: none;
}

.o-summary-button-true .o-icon-steady-summary,
.o-summary-table-button-true .o-icon-minicons-table-vector,

.o-save-button-true .o-icon-steady-save,
.o-save-layers-button-true .o-icon-minicons-layers-vector,
.o-save-clear-button-true .o-icon-minicons-clear-vector,

.o-download-button-true .o-icon-steady-download,
.o-download-pdf-button-true .o-icon-minicons-pdf-vector,

.o-charts-button-true .o-icon-steady-settings,
.o-charts-linjar-button-true .o-icon-minicons-linjar-vector,
.o-charts-bar-button-true .o-icon-minicons-bar-vector,
.o-charts-radar-button-true .o-icon-minicons-radar-vector,
.o-charts-doughnut-button-true .o-icon-minicons-doughnut-vector,
.o-charts-circle-button-true .o-icon-minicons-circle-vector,
.o-charts-polar-button-true .o-icon-minicons-polar-vector,
.o-charts-bubble-button-true .o-icon-minicons-bubble-vector,

.o-select-button-true .o-icon-steady-select,
.o-select-button-true .o-icon-minicons-hand-vector,
.o-select-button-true .o-icon-minicons-square-vector {
  fill: $o-btn-active-color;
}
